---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$sub-base-font-family: 'Montserrat', sans-serif;
$base-font-size:   14px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$heart-color: #DF0000;
$text-color:       #111;
$text-white: #fff;
$text-primary: #a60008;
$text-primary-dark: darken( $text-primary, 10% );
$background-color: #fdfdfd;
$brand-color:      #09489a;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


$gray-dark : #444444;
$gray: #898989;
$silver: #CCCCCC;
$gray-light: #F8F8F8;

$bootstrap-danger: #a94442;
$bootstrap-danger-bg: #f2dede;


$text-required: #a60008;


$box-shadow: 4px 4px 4px rgba(0,0,0,0.1);

$transition: all 0.35s ease;



.bgFullIndexPage {
  background-image: url("../img/desk-white.jpg");
  background-size: cover;
  background-attachment: static;
  background-color: #7A93AE;
  background-position: center top;
}

.bgFullLogin{
  background-image: url("../img/desk-white.jpg");
  background-size: cover;
  background-attachment: static;
  background-color: #7A93AE;
  background-position: center top;
}

//Custom Project Theme
* {
  //transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}

body.ecard {
  font:400 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2B283B;
}

a {
  text-decoration: underline;
  color: #000;
  &:hover{
    color: $text-primary;
    text-decoration: none;

  }
}

//Mobile Menu


#mainMobileWrapper{
  position: absolute;
  color: #F53E42;

  #mobileMenuLogo{
      img {
        width: 37px;
      }
  }

  #mobileMenuClose{

      position: absolute;
      font-size: 40px;
      right: 0;
    line-height: 10px;

      a {
        color: #F53E42 !important;


        &:hover {
          color: #F53E42;
        }
      }
  }

  #mobileMenu {
    ul.nav-menu{
      li.nav-item {

        padding: 5px;



        a {
          color: #FFF;


          &:hover {
            text-decoration: none;
          }

        }
      }
    }
  }
}

// Main Content

#mainContentWrapper{
  background-color: #FFFFFF;
  //margin-left:400px;
  padding:0;
  overflow: hidden;
  transition: $transition;

  &.closeMenu {
    margin-left: 0px;
    transition: $transition;
  }
  &.openMenu {
    margin-left: 800px;
  }

}

#openMobileMenu {
  color: $heart-color;
  font-size: 30px;

  margin-top: -8px;

}

//.spacer {display: block;height: $spacing-unit/2;margin: $spacing-unit/2 0;clear: both;}

//Sub Brand
.ahaSubBrandWrapper {
  margin-top: 10px;
  h1.subBrand{
    font-size: 30px;line-height: 20px;vertical-align: middle;
    span.subBrandTag{
      font-size: 18px;
      font-weight: 400 !important;
    }
  }

}



//Headings
h1,h2,h3,h4 {}
.heading {
  margin-bottom: 0px;
  text-align: left;
  padding: 0px 0 12px 0;
  margin-top: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  text-align: left;
  white-space: normal;
  font-weight: bold;
}

.h5 {
  font-size: 16px;
}

.heading-line span {
  display: inline-block;
  position: relative;
  color: $text-primary;
}

.heading.heading-line span::before {
  border-color: $text-primary;
  right: 100%;
  margin-right: 15px;
  content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid $text-primary;
  top: 12px;
  width: 1200px;
  box-sizing: border-box;
 }

.heading.heading-line span::after {
  border-color: $text-primary;
  left: 100%;
  margin-left: 15px;
  top: 15px;
  content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid $text-primary;
  width: 1200px;
  box-sizing: border-box;
}

//heading with lines on either side
/* headlines with lines */
.decorated{
  overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
}
.decorated > span{
  position: relative;
  display: inline-block;
}
.decorated > span:before, .decorated > span:after{
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 1px solid #c1c1c1;
  width: 591px; /* half of limiter*/
  margin: 0 20px;
}
.decorated > span:before{
  right: 100%;
}
.decorated > span:after{
  left: 100%;
}

// end



.text-shadow {
  text-shadow: 1px 1px 0px #555;
}

//Colors
.text-primary {
  color:$text-primary;
}
.text-gray-dark {color:$gray-dark}
.text-gray {color: $gray}
.text-silver {color: $silver}
.text-gray-light {color: $gray-light}
.text-white {
  color: $text-white;
}

//Background Colors
.bg-silver {
  background-color: $gray-light;
}

//Navigation Bar
#top-header .menu > li > a {
  text-decoration: none !important;
}

#main-navigation {
  border-bottom: 1px solid #EAEAEA;
  background-color: #F7F7F7;
}

nav#main-navigation.navbar-default .navbar-nav > li.active > a,
nav#main-navigation.navbar-default .navbar-nav > li > a:hover
{
  color: #FFF !important;
  background-color: #000 !important;
}

nav#main-navigation.navbar-default .navbar-nav > li > a {

}
nav#main-navigation .menu > li > a {
  //transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  position: relative;
  text-decoration: none !important;
  font-weight: 400;
  color: #000;
  //font-size: 0.9em;
  padding: 15px;
  line-height: 20px;
  position: relative;
  display: block;
}

nav#main-navigation .menu > li {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  transition: padding 0.5s ease-in-out 0s;
  animation-fill-mode: both;
}

//NAvbar with dropdown
.nav.navbar-nav.menu .btn.dropdown-toggle {
  background-color: transparent;
  margin: 0;
  border-radius: 0;
}

//Ecard Admin Bar
#adminBar {
  border-bottom: 1px solid $silver;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
}

#adminLogo {
  max-width: 50px; display: inline-block;margin-right: 20px;
}


//Sidebar
#sidebar ul#sidebarnav li a {
  text-decoration: none !important;
  color:#5d5d5d !important;

  &:hover{
    margin-left: 6px;
    color: $text-primary !important;
  }
} 


//Helper Classes
.spacer {
  display: block; margin: $spacing-unit/2 0;height: 1px;

  &::after {
    clear:both;
  }

}
.box-shadow{
  box-shadow: $box-shadow;
}

.circle-shadow-notification {
  display: inline-block;
  padding: 0 5px;
  background-color: green;
  padding: 10px;
  border-radius: 17px;
  width: 34px;
  height: 34px;
  color: white;
  box-shadow: $box-shadow;
  position: absolute;
  left: -20px;
  top: -20px;
}


.border-square {
  border-radius: 0px !important;

}

.no-padding {
  padding: 0 !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-left-10 {
  margin-left: -10px;
}

.margin-left-15 {
  margin-left: -15px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-auto {
  margin: auto;
}

.text-bold {
  font-weight: 700;
}
.text-italic {
  font-style: italic;
}

.text-normal {
  font-weight: 400 !important;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.text-sm {
  font-size: small;
}
.text-md {
  font-size: medium;

}
.text-lg {
  font-size: large;
  //letter-spacing: 1px;
}

.text-thin {
  font-weight: 300;
  letter-spacing: 1px;
}

.text-left {
  text-align: left !important;
}

p{
  //letter-spacing: 1px;
}

.required {
  color: $text-required;
}

.boxed-content {
  background-color: $gray-light;
  padding: 5px 10px;
  border:1px solid $gray;
  box-shadow: $box-shadow;

}

.block {
  display: block;
  &::after{
    clear:both;
  }
}


.bg-primary-dark {
  background-color: $text-primary;
}

//End Custom

//For Style Guide Not Part of Project
.montsserat-heading {
  font-family: $sub-base-font-family;
  font-style: normal;
  font-weight: 700;
}

//Color Card
.color-card {
  background: #FFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  //width: 185px;
  margin: 10px;
  padding-bottom: 5px;
  text-align: left;
  box-sizing: border-box;
  //display: inline-block;
}

.color-card .color-preview {
  height: 80px;
  width: 100%;
  border-radius: 0;
  display: block;
  margin-top: 10px;
}

.color-card p {

  letter-spacing: 0.5px;
  //font-size: 0.75em;


}

.card-content {
  padding: 5px;
}

//Alert
//Dismissable
.alert button.close span {
  line-height: 14px;
  vertical-align: top;
}
.alert-notification {

position: relative;
  width: 95%;
}


//Buttons

.btn{

  color: #FFF;
  padding: 14px 16px;
  margin: 0 10px 20px 0;
  font-weight: bold;
  overflow: hidden;
  text-decoration: none;
  text-shadow: none;
  //border-radius: 2px;
  vertical-align: middle;
  border:0;
  font-size: 12px;
  letter-spacing: 2px;
  border-radius: 0;

  &:hover{
    letter-spacing: 2.5px;
  }
}

.btn-sm {
  padding: 8px;
}

.btn-single {
  margin: 0px !important;
}

  //Primary
  .btn-primary {

    background-color: $text-primary;
    text-decoration: none !important;
    color: #fff !important;
  }



  .btn-primary:hover {
    background-color: $text-primary-dark;
    color: #FFF !important;

  }

.btn-primary-stroked {

  background-color: transparent;
  text-decoration: none !important;
  color: $text-primary !important;
  border:2px solid $text-primary;
  &:hover{
    background-color: rgba(0,0,0,0.05);
    color: $text-primary !important;
  }
}


a.btn-secondary {
   background-color: $gray-dark;
   color:#FFF !important;
  text-decoration: none !important;
    &:hover{
      background-color: #333;
      color: #fff;
    }
 }


a.btn-secondary-stroked{
  color: $gray-dark;
  border:2px solid $gray-dark;
  text-decoration: none !important;
  &:hover{
    background-color: rgba(0,0,0,0.05);
    color: $gray-dark !important;
  }
}

//Nav Pills
.nav-pills>li>a {
  //border-radius: 0px;
  //color: #fff;

}




//Student landing page, search for ecards
#ecardSearchWrapper{
  margin: 0 !important;
}


#ecardSearchWrapper .nav-pills>li>a{
  color: #000;
  border-radius: 4px 4px 0 0;

  &:hover{
    background-color: $text-primary-dark;
    color: #fff;
  }

}

#ecardSearchWrapper .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus  {
  background-color: $text-primary-dark;
  color: #fff;
}




//Tabs Tab Panels

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid $silver;
  border-bottom-color: transparent;
}

.nav-tabs .active a[role="tab"] {
  font-weight: 700;
}



.tab-pane {
  background-color: #fff;
  color: #000;
  border-radius: 0px 4px 4px 4px;
  padding:20px;
  border: 1px solid $silver;
  border-top:0;
}


//Dropdown menu
.btn.dropdown-toggle {
  color: #000;
  margin-bottom: 2px;
}

.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
  color: #fff;
  //background-color: #286090;
  //border-color: #204d74;




  margin-bottom: 2px;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
  color: #fff;
  background-color: $text-primary;
  border-color: $text-primary;
}


.dropdown-menu {
  border-radius: 0;
  //min-width: 400px;
}

.dropdown-menu a {
  //text-decoration: none !important;
  &:hover{
    text-decoration: none !important;
  }
}

.nav.nav-stacked > li{
  padding: 5px;
}
.nav.nav-stacked > li > a {
  padding: 0px;

}

//Tables
caption {
  color: #000;
}

thead {
  background-color: $gray-dark;
  color: #FFF;

}
thead th {
  font-weight: 400;
  vertical-align: top !important;
}

//Forms
//Input text
input[type="text"]{
  border-radius: 0;
}

.input-sm {
  border-radius: 0;
}

.input-text-underline {
  border: 0;
  border-bottom: 1px solid;
  padding: 2px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  border-color: $gray;
  background-color: transparent;
}

form button {
  letter-spacing: 2px;
}

form label, .label{

    letter-spacing: 0.5px;
    font-weight: 500;
  font-size: 100%;
  //color: $text-color;
  margin-bottom: 5px;
  padding-left: 0;
  color: inherit;

}

//dataTables
table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::after {
  top: 10px !important;
}

//Bootstrap overwrite

#main .row {
  margin-top: $spacing-unit/2;
  margin-bottom: $spacing-unit/2;
}

//Label
a.label {
  //text-decoration: underline;
}
a.label:focus, a.label:hover {
  color: $text-primary;
  margin-left: 5px;
}


//Modal
.modal-dialog {
  top:25%;
}


.modal-backdrop {
  z-index: 0 !important;
}

.modal-content {
  border-radius: 0px;
}

.modal-footer .btn + .btn {
  margin: 0 10px 20px 0;
}

.modal .close {
  color: $text-primary-dark;
  opacity: 0.8;
  transform: rotate(0deg) ;
  transform-origin: 50% 60%;
  transition: transform .2s ease-in-out;

  &:hover{
    transform: rotate(-90deg) scale(1.2);

  }

}


//Addons
.input-group-addon {
  border-radius: 0;
}

//Pagination
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  z-index: 3;
  color: #fff !important;
  cursor: default;
  background-color: #a60008;
  border-color: #a60008;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

//List Groups
.list-group {

  .list-group-item {
    background-color: $gray-light;
  }

}
.list-group-item:first-child{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

}
.list-group-item:last-child{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}


//Banners
.section-banner {
  /*//background: url('img/recordplayer.jpg');*/
  /*height: 200px;*/
  /*//background-position: center top;*/
  /*//background-size: cover;*/
  /*//background-attachment: fixed;*/
  background-color: #f8f8f8;
}

// CSS Transform
.caret-right {
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  transition: transform 250ms linear 0ms;
}

.rotate {
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  transition: transform 250ms linear 0ms;
}

//Overlay
.overlay{
  width: 100%;
  height: 100%;
  opacity: 0.15;
  background-color: #000000;
  position: absolute;
  z-index: 9999;
}

.overlay-mobile-menu{
  background-color: #2B283B;
  color:#F53E42;
  opacity: 0.5;
}

//Background Full
.bgFull {
  background-size: cover;
  background-attachment: static;
  //background-color: #7A93AE;
  background-position: center top;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

//Chosen Overwrite
.chosen-container-multi .chosen-choices li.search-field {
  margin: 4px 0 0 0;
  padding: 0;
  white-space: nowrap;
  height: 32px;

  input[type="text"] {
    margin-top: 4px !important;
    color: #000 !important;
  }

}

//eCards Card
.ecard-card {

  box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  padding: 10px;
  background-color: $gray-light;
  border: 1px solid $gray;

  .ecard-title {padding: 5px 0;}
  .ecard-body {}
  &.ecard-status-active{
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
  }


}



// Displays
.display-table-cell {
  display: table-cell;
}


//Isotopes Grid
.grid-item {

  transition: all 0.25s ease;

  &:hover{
    top:-10px !important;
  }

  &.active{

  }
  &.inactive {
      .thumbnail {

        background-color: $gray-light;
        border-top: 3px solid #854b00;
      }
  }

  .thumbnail {
    box-shadow: $box-shadow;
    border-top: 3px solid green;

    .label{
      padding: 2px 5px;

      font-weight: normal;


      &.label-active{
        background-color: green;
        color: white;
      }

      &.label-inactive{
        background-color: #854b00;
        color: white;
      }

    }


  }

}

// Reclaim

.reclaim-qty {
  font-size: 60px;
  font-weight: 200;
  width: 80px;
  height: 80px;
  background-color: #f8f8f8;
  text-align: center;
  padding: 5px;
  border-radius: 40px;
  box-shadow: $box-shadow;
  border: 1px solid #ccc;
  text-shadow: 1px 1px 1px #c1c1c1;
}


//Animate CSS
.animated-loop-10 {
  animation-iteration-count: 10 !important;
}

.animated-loop-5 {
  animation-iteration-count: 5 !important;
}


//Dropzone file upload
.dropzone {  transition: all 0.35s linear 0s;
min-height: 150px;
background: $silver;
border-radius: 6px;
border-style: dashed !important;
border-color: $text-primary !important;


}
.dz-default.dz-message span{
  display: inline-block;
  font-size: 20px;
  color: $gray-dark;
}

.dropzone:hover {
  background-color: $bootstrap-danger-bg;

}




//Body No Scroll
.noScroll {
  overflow: hidden ;
  position: fixed !important;
}


// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


//Media Queries
@media (max-width: 480px) {
  .spacer {height: $spacing-unit/2;margin:0;}
  .h1-heading {
    font-size: 30px;
  }
  .text-right{
    text-align: left !important;
  }
  h3,.h3 {font-size: 20px !important;}
} /*// Landscape phones and down*/
@media (max-width: 767px) {
  .text-right{
    text-align: left !important;
  }
} /*// Landscape phone to portrait tablet*/
@media (min-width: 768px) and (max-width: 979px) { } /* // Portrait tablet to landscape and desktop*/
@media (min-width: 1200px) { }




// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "chosen",
        "datepicker",
        "radio-checkbox",
        "megamenu",
        "navigation-accessible"
;
