---
layout: page-template
activelink: Templates
title: Assign eCards Student Step 1
showQty: true
---
<div class="">

<h2 class="heading heading-line text-thin"><span>Assign eCards to Students</span></h2>


    <div class="">
        <p class="text-md">Select from your available eCard inventory sources.</div>
        <form action="">
            <div class="row">
                <!-- row -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label class="control-label text-uppercase text-gray-dark" for="course">Course<span class="required"> * </span></label>
                    <select data-placeholder="Select a course" id="course" title="Course" name="course" class="form-control chosen-select">

                            {% for course in site.data.course-data.course %}
                                     <option value="{{course.name}}">{{course.name}}</option>
                            {% endfor%}

                    </select>

                    <div class="spacer"></div>
                    <!-- dropdown -->

                    <label class="control-label text-uppercase text-gray-dark" for="invsource">Inventory Source<span class="required"> * </span> <a tabindex="0" role="button" class="" data-toggle="popover" title="What is it?" data-content="And here's some amazing content. It's very engaging. Right?"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><span class="sr-only">Help</span></a> </label>
                    <select data-placeholder="Select inventory source" id="invsource" title="Invsource" name="invsource" class="form-control chosen-select">
                        <option value=""></option>
                        {% for tc in site.data.tc.tc %}
                        <option value="{{tc.name}}">{{tc.name}}</option>
                        {% endfor %}
                    </select>
                    <!-- end dropdown -->

                    <div class="spacer"></div>

                    <!-- radio buttons -->
                    <div>
                        <span class="label text-uppercase text-gray-dark">Select training center or training site</span>
                        <fieldset>
                            <legend class="sr-only">filter by</legend>
                            <label class="radio">
                                <input type="radio" name="tcts" id="tcts1" value="tc" data-toggle="radio">
                                Training Centers
                            </label>
                            <label class="radio">
                                <input type="radio" name="tcts" id="tcts2" value="ts" data-toggle="radio" checked>
                                eCard Locations
                            </label>
                        </fieldset>
                    </div>
                    <!-- end radio buttons -->

                    <div class="spacer"></div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                    <!-- dropdown -->
                    <label class="control-label text-uppercase text-gray-dark" for="trainingcenter">Training Center<span class="required"> * </span></label>
                    <select data-placeholder="Select training center" id="trainingcenter" title="Trainingcenter" name="trainingcenter" class="form-control chosen-select">
                        {% for tc in site.data.tc.tc %}
                        {{tc.name}}
                        <option value="{{tc.name}}">{{tc.name}}</option>
                        {% endfor %}
                    </select>
                    <!-- end dropdown -->

                    <div class="spacer"></div>

                    <!-- dropdown -->
                    <label class="control-label text-uppercase text-gray-dark" for="trainingsite">eCard Location<span class="required"> * </span></label>
                    <select data-placeholder="Select training site" id="trainingsite" title="Trainingsite" name="trainingsite" class="form-control chosen-select">
                        {% for tc in site.data.tc.tc %}
                        {{tc.name}}
                        <option value="{{tc.name}}">{{tc.name}}</option>
                        {% endfor %}
                    </select>
                    <!-- end dropdown -->




                    <div class="spacer"></div>




                    <div class="spacer"></div>




                </div><!-- end col-sm-12 -->


                <div class="col-sm-12">
                    <div class="boxed-content">


                            <div class="h5 text-gray-dark text-uppercase">Available eCards Quantity</div>
                            <div class="h2 text-thin text-primary margin-top-5">1809</div>


                        <div class="form-group">
                            <label class="control-label text-uppercase" for="qty">Assign Quantity </label><span class="text-gray-dark label text-thin"> (enter quantity below) </span>
                            <input class="form-control" value="50" name="qty" id="qty" type="text" placeholder="enter quantity" style="width:50px;">
                        </div>
                        <div>
                            <label class="checkbox" for="boolUploadStuList">
                                <input type="checkbox" value="yes" name="boolUploadStuList" id="boolUploadStuList" data-toggle="checkbox" />
                                Upload student list?
                            </label>
                        </div>


                    </div><!-- end boxed-content -->
                </div>

            </div><!-- end row -->

            <div class="spacer"></div>

            <button class="btn btn-primary" type="submit">Submit</button>


        </form>
    </div>

<div class="spacer"></div>

