---
layout: page-template
activelink: Templates
title: Assign eCards Student Step 1
---
<div class="">

<h2 class="heading heading-line text-thin"><span>Assign eCards to Students</span></h2>


    <div class="">
        <p class="text-lg">Select from your available eCard inventory sources.</div>
        <form action="">
            <div class="row">
                <!-- row -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label class="control-label text-uppercase text-gray-dark" for="course">Course<span class="required"> * </span></label>
                    <select data-placeholder="Select a course" id="course" title="Course" name="course" class="form-control chosen-select">

                            {% for course in site.data.course-data.course %}
                                     <option value="{{course.name}}">{{course.name}}</option>
                            {% endfor%}

                    </select>

                    <div class="spacer"></div>
                    <!-- dropdown -->
                    <label class="control-label text-uppercase text-gray-dark" for="invsource">Inventory Source<span class="required"> * </span></label>
                    <select data-placeholder="Select inventory source" id="invsource" title="Invsource" name="invsource" class="form-control chosen-select">
                        <option value=""></option>
                        {% for tc in site.data.tc.tc %}
                        <option value="{{tc.name}}">{{tc.name}}</option>
                        {% endfor %}
                    </select>
                    <!-- end dropdown -->

                    <div class="spacer"></div>

                    <!-- radio buttons -->
                    <div>
                        <span class="label text-uppercase text-gray-dark">Select training center or training site</span>
                        <fieldset>
                            <label class="radio">
                                <input type="radio" name="tcts" id="tcts1" value="tc" data-toggle="radio">
                                Training Centers
                            </label>
                            <label class="radio">
                                <input type="radio" name="tcts" id="tcts2" value="ts" data-toggle="radio" checked>
                                Training Sites
                            </label>
                        </fieldset>
                    </div>
                    <!-- end radio buttons -->

                    <div class="spacer"></div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                    <!-- dropdown -->
                    <label class="control-label text-uppercase text-gray-dark" for="trainingcenter">Training Center<span class="required"> * </span></label>
                    <select data-placeholder="Select training center" id="trainingcenter" title="Trainingcenter" name="trainingcenter" class="form-control chosen-select">
                        {% for tc in site.data.tc.tc %}
                        {{tc.name}}
                        <option value="{{tc.name}}">{{tc.name}}</option>
                        {% endfor %}
                    </select>
                    <!-- end dropdown -->

                    <div class="spacer"></div>

                    <!-- dropdown -->
                    <label class="control-label text-uppercase text-gray-dark" for="trainingsite">Training Site<span class="required"> * </span></label>
                    <select data-placeholder="Select training site" id="trainingsite" title="Trainingsite" name="trainingsite" class="form-control chosen-select">
                        {% for tc in site.data.tc.tc %}
                        {{tc.name}}
                        <option value="{{tc.name}}">{{tc.name}}</option>
                        {% endfor %}
                    </select>
                    <!-- end dropdown -->




                    <div class="spacer"></div>

                    <!-- dropdown -->
                    <label class="control-label text-uppercase text-gray-dark" for="instructor">Instructor<span class="required"> * </span></label>
                    <select data-placeholder="Instructor" id="instructor" title="Instructor" name="instructor" class="form-control chosen-select">
                        {% for instructor in site.data.instructors.instructors %}
                        <option value="{{instructor.name}}">{{instructor.name}}</option>
                        {% endfor %}
                    </select>


                    <div class="spacer"></div>




                </div><!-- end col-sm-12 -->


                <div class="col-sm-12">
                    <div>


                            <div class="h5 text-gray-dark text-uppercase">Available eCards Quantity</div>
                            <div class="h2 text-thin text-primary margin-top-5">1809</div>


                        <div class="form-group">
                            <label class="control-label text-uppercase" for="qty">Assign Quantity </label>
                            <input class="form-control input-text-underline" value="50" name="qty" id="qty" type="text" placeholder="enter quantity">
                        </div>

                    </div><!-- end boxed-content -->
                </div>

            </div><!-- end row -->

            <div class="spacer"></div>

            <button class="btn btn-primary" type="submit">Submit</button>


        </form>
    </div>

<div class="spacer"></div>

</div>