---
layout: page-template
activelink: Templates
title: Search
---

<div>

<h2 class="heading heading-line text-thin"><span>Search eCards</span></h2>
<p class="text-md">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque blanditiis consectetur cum cupiditate deleniti deserunt doloremque, doloribus dolorum ea fuga fugit labore, magnam maxime molestias numquam quisquam tenetur voluptates voluptatibus.</p>
    <!--Show/Hide-->
    <div class="bg-silver" style="padding: 10px;">
    <a class="" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Show/Hide
        <b class="caret"></b>
    </a>

    <div class="spacer"></div>

    <div class="collapse in" id="collapseExample">
        <div class="">

            <!-- content -->
            <form action="">

                <!--student: first, last, email-->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="first">First Name</label>
                            <input class="form-control" value="" name="first" id="first" type="text" placeholder="First name">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="lastname">Last name</label>
                            <input class="form-control" value="" name="lastname" id="lastname" type="text" placeholder="Last name">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="email">Email</label>
                            <input class="form-control" value="" name="email" id="email" type="text" placeholder="Email">
                        </div>
                    </div>
                </div>

                <!--ecard code-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="ecode">eCard code</label>
                            <input class="form-control" value="" name="ecode" id="ecode" type="text" placeholder="eCard code">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="estatus">eCode Status</label>
                            <input class="form-control" value="" name="estatus" id="estatus" type="text" placeholder="eCard status">
                        </div>
                    </div>
                </div><!-- end row -->

                <div class="row">
                    <div class="col-sm-6">
                        <label class="control-label" for="course">Course(s)<span class="required"> * </span></label>
                        <select multiple data-placeholder="Select courses" id="course" title="Course" name="course" class="form-control chosen-select">

                            {% for course in site.data.course-data.course %}

                            <option value="{{course.name}}">{{course.name}}</option>
                            {% endfor %}
                        </select>

                    </div>

                        <div class="col-sm-2">
                            <label for="coursedate">Course Date</label>
                            <div class="input-group date">
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                <input type="text" class="form-control datepicker" name="coursedate" id="coursedate" placeholder="Course date">
                            </div>
                        </div>
                    <div class="col-sm-4">
                        <!-- dropdown -->
                        <label class="control-label" for="instructor">Instructor<span class="required"> * </span></label>
                        <select data-placeholder="Select instructor" id="instructor" title="Instructor" name="instructor" class="form-control chosen-select">
                            <option value=""></option>
                            {% for instructor in site.data.instructors.instructors %}
                            <option value="{{instructor.name}}">{{instructor.name}}</option>
                            {% endfor %}
                        </select>
                        <!-- end dropdown -->
                    </div>
                    </div><!-- end row -->

                    <!--buttons-->
                <div class="spacer"></div>
                <button class="btn btn-primary" type="submit">Search</button>
                <a href="#" class="btn btn-secondary-stroked"> Clear </a>
            </form>

            <!--end content-->
        </div>
    </div>
    </div><!-- end Show/Hide -->

    <!-- Example of dataTables -->
    <form action="" id="resultsTable">
    <div class="spacer"></div>
    <h3>Results</h3>
    <div class="table-responsive">
        <table id="example" class="dataTable display table table-bordered table-striped" width="100%" cellspacing="0">
            <caption class="sr-only">Course details table</caption>
            <thead>
            <tr>
                <th>Course</th>
                <th>Course Date</th>
                <th>eCard Code</th>
                <th>TC</th>
                <th>Instructor</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>View</th>
                <th>Edit</th>
                <th>Resend</th>
            </tr>
            </thead>

            <tbody>
    <tr>
        <td>ACLS EP</td>
        <td>12/2/2016</td>
        <td>TX1234590</td>
        <td>Center Name</td>
        <td>Jane Doe</td>
        <td>Sara</td>
        <td>Le</td>
        <td><a href="mailto:sle@gmail.com">sle@gmail.com</a></td>
        <td>Claimed</td>
        <td><a href="#">Wallet</a> | <a href="#">Full</a></td>
        <td class="text-center"><a href="ecards-edit.html"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><span class="sr-only">Edit</span></a></td>
        <td class="text-center"><a href="#" class="btn btn-primary-stroked btn-sm btn-single" data-toggle="modal" data-target="#resendModal">Resend</a></td>
    </tr>
            </tbody>
        </table>
    </div>
    <!-- End example of datatables -->

    </form>

    <div>
        <a href="#" class="btn btn-secondary">Go To Inventory</a>
    </div>
    <!-- end buttons -->



<!-- Modal -->
<!--Modal box - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <div class="modal fade" id="resendModal" role="dialog" aria-labelledby="resendModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Resend</h4>
                </div>
                <div class="modal-body">
                    <!--modal content-->
                    <form action="">
                        <div class="form-group">
                            <label class="control-label" for="studentemail">Student Email Address:</label>
                            <input class="form-control" value="j.doe@email.com" name="studentemail" id="studentemail" type="text" placeholder="Email">
                        </div>
                    </form>


                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto, dignissimos fugiat itaque modi nam ut voluptate? Alias autem error et iure mollitia nobis, veniam voluptatibus? Animi dolore fugit magnam.</p>
                </div>
                <div class="modal-footer text-center">

                    <button type="button" class="btn btn-primary btn-sm">Resend eCard</button>
                    <button  type="button" class="btn btn-primary-stroked btn-sm">Save email address & resend eCard</button>



                </div>
            </div>
        </div>
    </div>

</div>
<!--end modal-->



<script type="text/javascript">
    $(document).ready(function() {
        $('#resendModal').on('shown.bs.modal', function (event) {
            var modal = $(this);
            modal.find('#studentemail').focus();
        });
    });
</script>







