---
layout: page-template
activelink: Templates
title: Reclaim - Sites
showQty: true
---


<div class="">


<h2 class="heading heading-line text-thin"><span>Reclaim eCards</span></h2>

    <!--Show/Hide-->
    <div class="">
        <a class="pull-right" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Show / Hide
            <b class="caret"></b>
        </a>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="collapse in boxed-content" id="collapseExample">
            <div class="">
                <br>
                <h3>Reclaim</h3>
                <p class="text-md">
                    Reclaim eCards from eCard Locations or Instructors before they have been assigned to students. Enter your reclaim quantity and select "reclaim", once you've entered all of your reclaim quantities submit your request by clicking the "Submit" button.
                </p>

                <!--Search-->
                <form action="">
                    <div class="row">
                        <!-- row -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label class="control-label text-uppercase text-gray-dark" for="course">Course<span class="required"> * </span></label>
                            <select data-placeholder="Select a course" id="course" title="Course" name="course" class="form-control chosen-select">

                                {% for course in site.data.course-data.course %}
                                <option value="{{course.name}}">{{course.name}}</option>
                                {% endfor%}

                            </select>

                            <div class="spacer"></div>

                            <div class="form-group">

                                <div class="label margin-bottom-5 text-gray-dark text-uppercase">Date of Assignment</div>
                                <div class="row">
                                    <div class="col-sm-6">

                                        <label for="dateStart" class="">From</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                            <input type="text" value="12/4/2016" class="form-control datepicker" name="dateStart" id="dateStart" placeholder="Start date">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">

                                        <label for="dateEnd" class="">To</label>

                                        <div class="input-group date">

                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                            <input type="text" value="12/8/2016" class="form-control datepicker" name="dateEnd" id="dateEnd" placeholder="End date">
                                        </div>
                                    </div>
                                </div><!-- end row -->
                                <div class="spacer"></div>
                            </div><!-- end form group -->






                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">


                            <!-- radio buttons -->
                            <div>
                                <span class="label text-uppercase text-gray-dark">Reclaim From:<span class="required"> * </span></span>
                                <fieldset>
                                    <legend class="sr-only">filter by</legend>
                                    <label class="radio">
                                        <input type="radio" name="tcts" id="tcts1" value="tc" data-toggle="radio">
                                        Instructor
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="tcts" id="tcts2" value="ts" data-toggle="radio" checked>
                                        eCard Locations
                                    </label>
                                </fieldset>
                            </div>
                            <!-- end radio buttons -->







                            <!-- dropdown -->

                            <label class="control-label text-uppercase text-gray-dark" for="invsource">eCard Location</label>
                            <select data-placeholder="Select inventory source" id="invsource" title="Invsource" name="invsource" class="form-control chosen-select">
                                <option value=""></option>
                                {% for tc in site.data.tc.tc %}
                                <option value="{{tc.name}}">{{tc.name}}</option>
                                {% endfor %}
                            </select>
                            <!-- end dropdown -->



                            <div class="spacer"></div>




                        </div><!-- end col-sm-12 -->


                        <div class="col-sm-12">
                            <div class="h5 text-gray-dark text-uppercase">Available eCards Quantity</div>
                            <div class="h2 text-thin text-primary margin-top-5">1809</div>

                            <div class="form-group">
                                <label class="control-label text-uppercase" for="qty">Reclaim Quantity </label><span class="text-gray-dark label text-thin"> (enter quantity below) </span>
                                <input class="form-control" value="50" name="qty" id="qty" type="text" placeholder="enter quantity" style="width:50px;">
                            </div>


                        </div>

                    </div><!-- end row -->

                    <div class="spacer"></div>

                    <button class="btn btn-primary" type="submit">Continue</button>


                </form>
                <!--End form-->


            </div>
        </div>
    </div>
    <!-- end Show/Hide -->
    <div class="spacer"></div>


<!-- Example of dataTables -->
<form action="#">
<div class="table-responsive">
    <table id="example" class="dataTable display table table-bordered table-striped">
        <caption class="sr-only">Reclaim table</caption>
        <thead>
        <tr>
            <th>Course</th>
            <th>Date of Assignment</th>
            <th>Reclaim From</th>
            <th>Assigned Quantity</th>
            <th>Previous Reclaims</th>
            <th>Available Quantity</th>
            <th>Reclaim Quantity</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
<tr>
    <td>ACLS EP</td>
    <td>12/2/2016</td>
    <td>Sample training Site</td>
    <td>20</td>
    <td>2</td>
    <td>18</td>
    <td><div class="form-group">
        <label class="control-label sr-only sr-only-focusable" for="qty">Qty</label>
        <input class="form-control" value="" name="qty" id="qty" type="text" placeholder="0">
    </div></td>
    <td class="text-center"><a href="#" class="btn btn-primary btn-sm btn-single">Reclaim</a></td>
</tr>



        </tbody>
    </table>


        <div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </div>
</div>
<!-- End example of datatables -->

</form>
</div><!-- end container -->