---
layout: page-template
activelink: Templates
title: Reclaim Instructor
showQty: true
---




<div class="">


<h2 class="heading heading-line text-thin"><span>Reclaim eCards for Instructors</span></h2>
    <p class="text-md">Reclaim eCards from Training Sites or Instructors before they have been assigned to students. Enter your reclaim quantity and select "reclaim", once you've entered all of your reclaim quantities submit your request by clicking the "Submit" button.</p>
    <div class="spacer"></div>
    <!--Show/Hide-->
    <div class="">
        <div class="row">
            <div class="col-sm-6">
                <div class="h4 text-uppercase"><span class="glyphicon glyphicon-search text-primary" aria-hidden="true"></span> Search</div>
            </div>

            <div class="col-sm-6">
                <a class="pull-right" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">

                    Show / Hide
                    <b class="caret"></b>
                </a>

            </div>
        </div>
    <div class="collapse in boxed-content" id="collapseExample">
        <div class="">

            <!-- content -->
            <form action="#">
                <div class="row">
                    <!-- row -->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <!--col 1-->
                        <label class="control-label text-gray-dark text-uppercase" for="course">Course<span class="required"> * </span></label>
                        <select data-placeholder="Select a course" id="course" title="Course" name="course" class="form-control chosen-select">
                            <option value=""></option>
                            {% for course in site.data.course-data.course %}
                            <option value="{{course.name}}">{{course.name}}</option>
                            {% endfor %}
                        </select>

                        <div class="spacer"></div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                        <!-- dropdown -->
                        <label class="control-label text-gray-dark text-uppercase" for="instructor">Instructor<span class="required"> * </span></label>
                        <select data-placeholder="Select instructor" id="instructor" title="Instructor" name="instructor" class="form-control chosen-select">
                            <option value="00"></option>
                            {% for instructor in site.data.instructors.instructors %}
                            <option value="{{instructor.name}}">{{instructor.name}}</option>
                            {% endfor %}

                        </select>
                        <!-- end dropdown -->
                        <div class="spacer"></div>
                    </div>


                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                        <!-- radio buttons -->
                        <div>
                            <span class="label text-gray-dark text-uppercase">Reclaim From <span class="required">*</span></span>
                            <fieldset>
                                <legend class="sr-only">filter by</legend>
                                <label class="radio">
                                    <input type="radio" name="tcts" id="tcts1" value="tc" data-toggle="radio">
                                    Training Centers
                                </label>
                                <label class="radio">
                                    <input type="radio" name="tcts" id="tcts2" value="ts" data-toggle="radio" checked>
                                    Training Sites
                                </label>
                            </fieldset>
                        </div>
                        <!-- end radio buttons -->
                        <div class="spacer"></div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <div class="form-group">

                                <div class="label margin-bottom-5 text-gray-dark text-uppercase">Date of Assignment <span>(default last 5 days)</span></div>
                                <div class="row">
                                    <div class="col-sm-6">

                                        <label for="dateStart" class="">From</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                            <input type="text" value="12/4/2016" class="form-control datepicker" name="dateStart" id="dateStart" placeholder="Start date">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">

                                        <label for="dateEnd" class="">To</label>

                                        <div class="input-group date">

                                             <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                                <input type="text" value="12/8/2016" class="form-control datepicker" name="dateEnd" id="dateEnd" placeholder="End date">
                                            </div>
                                        </div>
                                </div><!-- end row -->
                                <div class="spacer"></div>
                            </div><!-- end form group -->




                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>

                </div>
            </form>
            <!--end content-->
        </div>
    </div>
    </div><!-- end Show/Hide -->


<!-- Example of dataTables -->
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="h4 text-uppercase"><span class="glyphicon glyphicon-list text-primary" aria-hidden="true"></span> Results</div>
<form action="#">
<div class="table-responsive">
    <table id="example" class="dataTable display table table-bordered table-striped">
        <caption class="sr-only">Course table</caption>
        <thead>
        <tr>
            <th>Course</th>
            <th>Date of Assignment</th>
            <th>Reclaim From</th>
            <th>Assigned Quantity</th>
            <th>Previous Reclaims</th>
            <th>Available Quantity</th>
            <th>Reclaim Quantity</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
<tr>
    <td>ACLS EP</td>
    <td>12/2/2016</td>
    <td>Sample training Site</td>
    <td>20</td>
    <td>2</td>
    <td>18</td>
    <td><div class="form-group">
        <label class="control-label sr-only sr-only-focusable" for="qty">Qty</label>
        <input class="form-control" value="" name="qty" id="qty" type="text" placeholder="0">
    </div></td>
    <td class="text-center"><a href="#" class="btn btn-primary-stroked btn-sm btn-single">Reclaim</a></td>
</tr>



        </tbody>
    </table>


        <div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </div>
</div>
<!-- End example of datatables -->

</form>
</div>