---
layout: page-template
activelink: Templates
title: Reclaim - Sites
showQty: true
---
<div class="">

<h2 class="heading heading-line text-thin"><span>Reclaim eCards</span></h2>
<div class="">
    <p class="text-md">
        Reclaim eCards from eCard Locations or Instructors before they have been assigned to students. Enter your reclaim quantity and select "reclaim", once you've entered all of your reclaim quantities submit your request by clicking the "Submit" button.
    </p>

</div>



    <!--Search-->
    <form action="">
        <div class="row">
            <!-- row -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <label class="control-label text-uppercase text-gray-dark" for="course">Course<span class="required"> * </span></label>
                <select data-placeholder="Select a course" id="course" title="Course" name="course" class="form-control chosen-select">

                    {% for course in site.data.course-data.course %}
                    <option value="{{course.name}}">{{course.name}}</option>
                    {% endfor%}

                </select>

                <div class="spacer"></div>




                <!-- radio buttons -->
                <div id="fromType">
                    <span class="label text-uppercase text-gray-dark">Reclaim From:<span class="required"> * </span></span>
                    <fieldset>
                        <legend class="sr-only">filter by</legend>
                        <label class="radio">
                            <input type="radio" name="fromType" id="tcts1" value="fromIns" data-toggle="radio">
                            Instructor
                        </label>
                        <label class="radio">
                            <input type="radio" name="fromType" id="tcts2" value="fromLoc" data-toggle="radio" >
                            eCard Locations
                        </label>
                    </fieldset>
                </div>
                <!-- end radio buttons -->

                <script>
                    $(document).ready(function(){

                        var showELoc = function(){
                            if ($('#ddELoc').hasClass('hide')){
                                $('#ddELoc').removeClass('hide');
                            }
                            hideIns();
                        };

                        var showIns = function(){
                            if ($('#ddIns').hasClass('hide')){
                                $('#ddIns').removeClass('hide');
                            }
                            hideELoc();

                        };

                        var hideELoc = function () {
                            if ($('#ddELoc').hasClass('hide')){

                            }else{
                                $('#ddELoc').addClass('hide')
                            }
                        };

                        var hideIns = function () {
                            if ($('#ddIns').hasClass('hide')){

                            }else{
                                $('#ddIns').addClass('hide')
                            }
                        };



                        $('#fromType .radio').on('toggle',function(e) {
                            var $el = $(e.target);
                            var elname = e.target.name;
                            //console.log($el.val());
                            if ($el.val() == 'fromIns'){
                                showIns();
                                //$('#ddELoc').toggleClass('hide');
                            }else{

                                showELoc();

                            }
                            //console.log(elname);
                        });
                    });
                </script>





                <!-- dropdown -->
                <div id="ddELoc" class="hide">
                    <label class="control-label text-uppercase text-gray-dark" for="invsource">eCard Location <span class="required"> * </span></label>
                    <select data-placeholder="Select inventory source" id="invsource" title="Invsource" name="invsource" class="form-control chosen-select">
                        <option value=""></option>
                        {% for tc in site.data.tc.tc %}
                        <option value="{{tc.name}}">{{tc.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- end dropdown -->

                <!-- dropdown -->
                <div id="ddIns" class="hide">
                    <label class="control-label text-uppercase text-gray-dark" for="invsource">Instructor <span class="required"> * </span></label>
                    <select data-placeholder="Select instructor" id="" title="Invsource" name="invsource" class="form-control chosen-select">
                        <option value=""></option>
                        {% for tc in site.data.instructors.instructors %}
                        <option value="{{tc.name}}">{{tc.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- end dropdown -->


                <div class="spacer"></div>

                <div class="form-group">

                    <div class="label margin-bottom-5 text-gray-dark text-uppercase">Date of Assignment</div>
                    <div class="row">
                        <div class="col-sm-6">

                            <label for="dateStart" class="">From</label>
                            <div class="input-group date">
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                <input type="text" value="12/4/2016" class="form-control datepicker" name="dateStart" id="dateStart" placeholder="Start date">
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <label for="dateEnd" class="">To</label>

                            <div class="input-group date">

                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                <input type="text" value="12/8/2016" class="form-control datepicker" name="dateEnd" id="dateEnd" placeholder="End date">
                            </div>
                        </div>
                    </div><!-- end row -->
                    <div class="spacer"></div>
                </div><!-- end form group -->




            </div>



            <div class="col-sm-12 ">
                <div class="boxed-content">
                <div class="h5 text-gray-dark text-uppercase">Available eCards Quantity</div>
                <div class="h2 text-thin text-primary margin-top-5">1809</div>

                <div class="form-group">
                    <label class="control-label text-uppercase" for="qty">Reclaim Quantity </label><span class="text-gray-dark label text-thin"> (enter quantity below) </span>
                    <input class="form-control" value="50" name="qty" id="qty" type="text" placeholder="enter quantity" style="width:50px;">
                </div>

                </div><!--end boxed-content-->

            </div>

        </div><!-- end row -->

        <div class="spacer"></div>

        <a href="reclaim-sites-verification.html" class="btn btn-primary">Continue</a>


    </form>
    <!--End form-->


    <div class="spacer"></div>



</div><!-- end container -->