<!--eCard admin bar-->
<div class="hidden-xs">
<div id="adminBar" class="bg-color-grey hidden-xs makeSticky">
    <div class="container padding-10">
        <div class="row">
            <div class="col-sm-8">
                <img src="img/admin-2.png" alt="adminlogo" class="pull-left" id="adminLogo">{% include accessible-ecard-manage.html %}
            </div>
            <div class="col-sm-4 text-right">
                {% if page.showQty %}
                <div class="h4 text-thin text-primary margin-top-5"><span class="text-gray-dark">Available Qty:</span> 1809</div>
                {% endif %}
            </div>
        </div>

    </div>
</div>
</div>