<!--Footer-->
<script>
  // This is for the content in the yellow region
  var footer_info_Object = [
    {'header':{'content':'Password/Login Help'},
      'body':{'content':'(888) 242-2453 (Inside U.S.) or (214) 570-5935 (Outside U.S.)'}
    },
    {'header':{'content':'Membership & Subscription'},
      'body':{'content':'(800) 787-8984 (Inside U.S.) or (301) 223-2307 (Outside U.S.)'}
    }/*,
     {'header':{'content':'Membership & Subscriptions FAQ&#39;s <i class="fa fa-chevron-right"></i>','link':'#'},
     'body':{'content':'Site Map <i class="fa fa-chevron-right"></i>','link': '#'}
     },
     {'header':{'content':'<span class="">Need any help? Talk to a live agent now</span>','link':'#'},
     'body':{'content':'<img src="https://donatenow.heart.org/images/livechat.jpg" width="29" class="chat" alt="Chat link">','link': '#'}
     }*/
  ];
  // Set to show AHA dual logo
  var showDualLogo = false;
  // Set to true if need to inject Twitter Bootstrap
  var ahaFooterLoadBootstrap = false;
  // Set to false to override private policy banner
  var showAHAPrivacyPolicyBanner = false;
</script>
<script id="footerScriptTag" src="//static.heart.org/ahaanywhere/responsive/js/aha-footer-external-responsive.v2.js" data-site-contact="true" type="text/javascript"></script>