
<!--Utility bar -->
<div id="top-header" class="utility-bar" role="banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-xs-10 clearfix">
                <nav class="top-header-menu ahamenu">
                    <ul id="top-header-menu-list" class="menu list-inline">
                        <li class="heart_logo"><a href="http://heart.org" class="aha_logo"><img src="//static.heart.org/ahaanywhere_dev/v2/img/aha_logo_blk_80.png"
                                alt="American Heart Association Logo"></a></li>
                        <li class="hidden-xs"><a href="http://www.heart.org/HEARTORG/volunteer/volunteerForm.jsp"
                                                 class="header-button volunteer-button"> VOLUNTEER </a></li>
                        <li><a href="http://www.heart.org/HEARTORG/Conditions/Conditions_UCM_305346_SubHomePage.jsp"
                               class="header-button warning-button"> Warning Signs </a></li>
                        <li class="menu-search parent hidden-sm hidden-xs"><!-- AHA Search -->
                            <form method="get" id="suggestion_form" name="suggestion_form"
                                  onsubmit="return checkSearchKeyValid();"
                                  action="//www.heart.org/HEARTORG/search/searchResults.jsp">
                                <div class="input-group utility-search-wrapper" role="search">
                                    <label for="q" class="sr-only">SearchAHA/ASA</label>
                                        <input name="_dyncharset" value="ISO-8859-1" title="_dyncharset" type="hidden">
                                    <input name="searchOpt" id="searchOpt" value="professionals" title="searchOpt" type="hidden">
                                    <input class="form-control utility-search-input" name="q" id="q" autocomplete="off" placeholder="Search AHA/ASA" type="text">
                                    <span class="input-group-addon utility-search-btn">
                                        <button type="submit" form="suggestion_form" value="Submit">
                                            <span class="sr-only">Submit</span>
                                            <span class="fa fa-search"></span>
                                        </button>
                                    </span>
                                </div><!-- /input-group -->
                            </form>
                            <table style="visibility: hidden;" id="search_suggest" class="no-dataTable">
                                <caption class="sr-only">Search table</caption>
                            </table>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="th-right col-sm-2 col-xs-2 clearfix">
                <nav class="std-menu top-header-menu">
                    <ul class="menu list-inline">
                        <li class="pull-right donate"><a href="https://donatenow.heart.org/" class="header-button donate-button bg-color-primary" id="ahaDonate"> DONATE </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- END Utility Bar -->

<!-- HEADER -->
<div id="ahaHeader" role="banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 clearfix ahaSublogoWrapper">
                <div class="ahaSubBrandWrapper">
                    <h1 class="subBrand pull-left">CPR & FIRST AID <br><span class="text-uppercase subBrandTag">Instructor Network</span></h1>
                    <!-- mobile menu open icon -->
                    <a href="#" id="openMobileMenu" class="pull-right visible-xs" role="button">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        <span class="sr-only sr-only-focusable">Open mobile menu</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END ahaHeader -->

