<!--Mobile Menu -->
<div id="mobileMenu" class="col-xs-12 col-sm-12 hidden-lg hidden-md visible-xs hidden-sm">
    <!--Menu content-->
    <div class="spacer"></div>
    <div id="mobileMenuClose" class="text-right">
        <a href="#" class="closeMenu" role="button">
            <span aria-hidden="true" class="text-thin">&times;</span>
            <span class="sr-only sr-only-focusable">Close</span>
        </a>
    </div>
        <div id="mobileMenuLogo">
            <img src="img/admin-3.png" alt="menu" class="">
        </div>
    <div class="spacer"></div>
    <ul class="nav-menu list-unstyled">
        {% for nav in site.data.navigation offset:2 %}
        {% for subnav in {{nav.subpages}} %}
        <li class="nav-item"><a href="{{subnav.link}}" class="h5 text-uppercase">{{subnav.name}}</a></li>
        {% endfor %}
        {% endfor %}
    </ul>
</div>
<!-- end mobile menu  -->

