<!-- Navigation =============== -->
<nav id="main-navigation" class="navbar navbar-default hidden-sm hidden-xs" role="navigation">

    <div class="container">

        <div class="navbar-collapse collapse nav-collapse">
            <ul class="nav navbar-nav menu" >

                {% for nav in site.data.navigation %}

                <!--<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>-->
                {% assign url = page.url|remove:'/' %}
                {% if page.activelink == nav.name %}
                {% assign active = 'active' %}
                {% else %}
                {% assign active = '' %}
                {% endif %}
                <li class="{{active}}">

                    {% if nav.subpages.size >= 0 %}
                    <!-- dropdown -->
                    <a href="{{ nav.link }}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ nav.name }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for subnav in {{nav.subpages}} %}
                        <li><a href="{{subnav.link}}">{{subnav.name}}</a></li>
                        {% endfor %}
                    </ul>
                     {% else %}
                    <a href="{{ nav.link }}" class="{{ nav.class }}">{{ nav.name }}
                    </a>

                    {% endif %}

                </li>

                {% endfor %}

            </ul>
        </div>
    </div>

</nav>