<!-- Navigation =============== -->

<!--Making navigation keyboard accessible-->
<!-- html structure -->
<div id="primaryNav" class="megamenuWrapper">
    <div class="container">


<div class="megamenu">
    <ul class="nav-menu">
        <!-- li for tier 1 links -->
        {% for nav in site.data.navigation %}

        <!--<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>-->
        {% assign url = page.url|remove:'/' %}
        {% if page.activelink == nav.name %}
        {% assign active = 'active' %}
        {% else %}
        {% assign active = '' %}
        {% endif %}
        <li class="nav-item {{active}}">
            <!-- link -->
            {% if nav.subpages.size >= 0 %}
            <a href="#">{{nav.name}} <span class="caret"></span></a>

            <div class="sub-nav">
                <!-- sub-nav-group for hover -->
                <div class="sub-nav-group">
                    <!-- content for hover panels -->
                    <div style="padding-top:10px;min-width: 200px;" class="">
                    <ul class="list-unstyled">
                        {% for subnav in {{nav.subpages}} %}
                        <li><a href="{{subnav.link}}">{{subnav.name}}</a></li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>
            </div>
            {% else %}
            <a href="{{ nav.link }}" class="{{ nav.class }}">{{ nav.name }}
            </a>

            {% endif %}

        </li>
        {% endfor %}
    </ul>
</div>

    </div><!-- end container -->
</div><!-- end megamenuWrapper -->