<!--Show/Hide-->
<div class="">
    <a class="pull-right" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Show / Hide
        <b class="caret"></b>
    </a>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="collapse in boxed-content" id="collapseExample">
        <div class="">
            <h3>Show / Hide Region</h3>
            <p class="text-md">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, cupiditate delectus distinctio doloremque maxime provident! Adipisci aliquid, dolorem exercitationem facere illo, incidunt iusto non possimus praesentium qui sint vero voluptas!
            </p>
        </div>
    </div>
</div><!-- end Show/Hide -->
<div class="spacer"></div>
