<!--Sidebar-->
<div id="sidebar" class="col-sm-2 hidden-xs" >
    <div data-spy="affix" data-offset-top="400" data-offset-bottom="600">



        <h4 class="montsserat-heading">Menu</h4>
        <ul id="sidebarnav" class="list-unstyled">
            <li><a href="style.html#colorsWrapper">Colors</a></li>
            <li><a href="style.html#typoWrapper">Typography</a></li>
            <li><a href="style.html#headerWrapper">Headings</a></li>
            <li><a href="style.html#menuWrapper">Menu</a></li>
            <li><a href="style.html#iconsWrapper">Images/Icons</a></li>
            <li><a href="style.html#buttonsWrapper">Buttons</a></li>
            <li><a href="style.html#linksWrapper">Links</a></li>
            <li><a href="style.html#formsWrapper">Forms</a></li>
            <li><a href="style.html#tablesWrapper">Tables</a></li>
            <li><a href="style.html#alertsWrapper">Alerts</a></li>
            <li><a href="style.html#uxWrapper">UX Functions</a></li>
            <ol style="padding-left:20px;">
                <li><a href="style.html#showWrapper">Show/Hide</a></li>
                <li><a href="style.html#datepickerWrapper">Calendar</a></li>
            </ol>
            <li><a href="megamenu.html">Accessible Mega Menu</a>    </li>

            <li>
                <a href="http://8x7poe.axshare.com" target="_blank">Project Wireframe</a>
            </li>


        </ul>
    </div><!-- end affix -->
</div>