<!--Sidebar-->
<div id="sidebar" class="col-sm-2" >
    <div data-spy="affix" data-offset-top="300" data-offset-bottom="600">
        <h4 class="montsserat-heading">Menu</h4>
        <ul id="sidebarnav" class="list-unstyled">
            <li><a href="#colorsWrapper">Colors</a></li>
            <li><a href="#typoWrapper">Typography</a></li>
            <li><a href="#headerWrapper">Headings</a></li>
            <li><a href="#menuWrapper">Menu</a></li>
            <li><a href="#buttonsWrapper">Buttons</a></li>
            <li><a href="#linksWrapper">Links</a></li>
            <li><a href="#formsWrapper">Forms</a></li>

            <li><a href="#tablesWrapper">Tables</a></li>
            <li><a href="#alertsWrapper">Alerts</a></li>
            <li><a href="#uxWrapper">UX Functions</a></li>
            <ol style="padding-left:20px;">
                <li><a href="#showWrapper">Show/Hide</a></li>
                <li><a href="#datepickerWrapper">Calendar</a></li>
            </ol>
            <li><a href="megamenu.html">Accessible Mega Menu</a>    </li>


        </ul>
    </div><!-- end affix -->
</div>