<!--Sidebar-->
<div id="sidebar" class="col-sm-2 hidden-sm hidden-xs" >
    <div data-spy="affix" data-offset-top="400" data-offset-bottom="600">



        <h4 class="montsserat-heading">Menu</h4>
        <ul id="sidebarnav" class="list-unstyled">
            <li><a href="student-landing.html">Student Landing</a></li>
            <li><a href="inventory.html">Inventory</a></li>
            <li><a href="style.html#colorsWrapper">Table</a></li>
            <li><a href="style.html#colorsWrapper">Reports</a></li>
            <li><a href="style.html#colorsWrapper">Search eCards</a></li>
            <li><a href="style.html#colorsWrapper">Search Results</a></li>
            <li><a href="style.html#colorsWrapper">Claim eCard</a></li>
            <li><a href="style.html#colorsWrapper">Standard Register</a></li>



            <li>
                <a href="http://8x7poe.axshare.com" target="_blank">Project Wireframe</a>
            </li>


        </ul>
    </div><!-- end affix -->
</div>