.checkbox,
.radio {
  position: relative;
  margin-bottom: 20px;
  padding-left: 32px;
  font-size: 14px;
  font-family: Helvetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  min-height: 20px;
}

.radio {
  margin-left: 5px;
  margin-right: 5px;
}

.checkbox input,
.radio input {
  outline: none !important;
  display: none;
}
.checkbox .icons,
.radio .icons {
  color: #DF0000;
  left: 0;
  top: 0;
  position: absolute;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: block;
}
.checkbox .icons .first-icon,
.radio .icons .first-icon,
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  border: 1px solid #d6e1e5;
  background: white;
}
.checkbox .icons .first-icon:before,
.radio .icons .first-icon:before,
.checkbox .icons .second-icon:before,
.radio .icons .second-icon:before {
  margin-top: 1px;
  display: block;
}
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox.checked .first-icon,
.radio.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox.checked .second-icon,
.radio.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  border-color: #b2c6cd;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
.checkbox.disabled,
.radio.disabled {
  cursor: default;
}
.checkbox.disabled .first-icon,
.radio.disabled .first-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  background: #e1eef3;
}
.checkbox.disabled .second-icon,
.radio.disabled .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
  background: #e1eef3;
}
.checkbox.disabled.checked .first-icon,
.radio.disabled.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox.disabled.checked .second-icon,
.radio.disabled.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #b2c6cd;
}
.radio .icons .first-icon,
.radio .icons .second-icon {
  border-radius: 50px;
}
.radio.checked .second-icon:before {
  content: " ";
  width: 8px;
  height: 8px;
  background: #DF0000;
  position: absolute;
  top: 50%;
  border-radius: 8px;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
}
.radio.disabled.checked .second-icon:before {
  background: #93a4aa;
}
.checkbox .icons .first-icon,
.checkbox .icons .second-icon {
  border-radius: 4px;
}

label.radio{
  display: inline-block;
}