---
layout: page
---

<div class="section section-banner">
    <div class="container">
        <div class="spacer"></div>
        <h1 class="montsserat-heading text-uppercase text-primary">Style Guide</h1>
        <div class="montsserat-heading text-uppercase text-gray-dark">ECC eCard Project Fall 2016</div>
        <img src="img/think-icons.png" alt="" style="max-width: 404px;" class="img-responsive">
        <div class="spacer"></div>

    </div>
</div>

<div class="spacer"></div>


<style type="text/css">
    .affix {
        position: fixed;
        top: 20px;
    }
    .affix-bottom {
        position: fixed;
    }
</style>



<!--Container with sidebar-->
<div class="section">
    <div class="container" id="main">
    <div class="row">
        {% if page.url == "/templates.html" %}
        {% include sidebar-templates.html %}
        {% else %}
            {% include sidebar.html %}
        {% endif %}
        <!--Main-->
        <div class="col-sm-10">

            {{content}}
            <!-- end row -->






        </div><!-- #main -->
    </div>
    </div><!-- end container -->
</div><!-- end section -->

<div class="spacer"></div>
<div class="spacer"></div>





